<div id="nested-fields">
    <div class="field">
      <%= f.label :step %>
      <br/>
      <%= f.text_field :step %>
    </div>
<%= link_to_remove_association "remove step", f, class: "large button" %>
</div>